# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
.dev.vars
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*
.react-native/
.hast/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
.npm/

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

app.json
package.json
package-lock.json
*.crashlytics/

# Native Folders
android/
ios/

# Config Files
GoogleService-Info.plist
google-services.json
android/app/debug.keystore

# VSCode
.vscode/*
